@import "./vars";
@import "./colors";

@mixin placeholder() {
  &::-webkit-input-placeholder {
    font-size: $defaultFontSize;
    opacity: 0.4;
  }

  &::-moz-placeholder {
    font-size: $defaultFontSize;
    opacity: 0.4;
  }

  &:-ms-input-placeholder {
    font-size: $defaultFontSize;
    opacity: 0.4;
  }

  &:-moz-placeholder {
    font-size: $defaultFontSize;
    opacity: 0.4;
  }
}
